@CHARSET "UTF-8";
/* Table */
.table_form_data {
	padding-left: 50px;
}
.td_label {
	text-align: right;
	vertical-align: top;
}
.td_data {
	text-align: left;
}
/* text */
.header1 {
	font-size: 18px;
	font-weight: bold;
}
/* Picture */
.div_form_picture {
	padding: 0px 25px 25px 25px;
	height: 205px;
	overflow-y: scroll;
}
.div-item-picture {
	float: left;
	margin: 10px 6px 10px 6px;
	border: 1px solid #666666;
	height: 200px;
	width: 200px;
}
.div-item-picture:hover {
	background-color: #B8E62E;
}
.img-picture {
	display: block;
	margin: 15px auto 0px auto;
    height: 150px;
	width: 150px;
	cursor: pointer;
}
.span-picture-desc {
	display: block;
	margin: 10px 10px 0px 10px;
	text-align: center;
}