@CHARSET "UTF-8";
.tableLayout {
	border: 1px solid #666666;
/* 	width: 50%; */
	width: 700px;
	background-color: #FCFCFC;
	border-radius:7px;
	padding: 0 20px 0 20px;
}
.tableForm {
}
.tdLabel {
	padding-left: 50px;
}
.upperBar {
    border-bottom: 1px solid #666666;
    padding-bottom: 20px;
}