@CHARSET "utf-8";
/* Layout */
.container {
	/*border: 1px solid #666666;*/
	/*border-radius: 5px;*/
	width: 100%;
	overflow: hidden;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	/*clear: both;*/
}
	.container .section_profile {
		width: 100%;
		height: 100%;
	}
		.container .section_profile .section_picture {
			width: 196px;
			float: left;
		}
			.container .section_profile .section_picture .picture {
				width: 180px;
				height: 185px;
				
				border: 1px solid #666666;
				background-color: #FCFCFC;
				margin: auto;
			}
			.container .section_profile .section_picture img {
				width: 80%;
				height: 80%;
				display: block;
				margin: 10px auto 0 auto;
			}
			.container .section_profile .section_picture p {
				margin: 10px 0 0 0;
				text-align: center;
			}
		.container .section_profile .section-content {
			width: auto;
			margin-left: 196px;
		}
			.container .section_profile .section-content .table {
				width: 100%;
				margin: 0px 0px 0px 0px;
			}
	.container .section-content {
		width: 100%;
		margin-top: 10px; 
	}
		.container .section-content input[type="button"] {
			display: block;
			margin: 10px auto 0 auto;
		}
/* Table */
.table_form {
	width: 100%;
	margin: auto;
	padding: 0 5px 0 5px;
	table-layout: fixed;
	border: 1px solid #666666;
	background-color: #FCFCFC;
}
.table_data{
	width: 100%;
}
.data-item-wrapper{
	width: auto;
	margin-left: 17px;
}
.table-data-item{
	height: 100%;
	width: 100%;
	padding: 0 20px 0 20px;
	table-layout: fixed;
	font-weight: normal;
	color: #000000;
	border: 1px solid #666666;
	background-color: #FCFCFC;
}
.table_data tr, .table_data th, .table_data td {
	border: 1px solid black;
}
.no-found-data{
	text-align: center;
}
.comment{
	text-indent: 25px;
}
.table ul {
	width: 100%;
	overflow: hidden;
	list-style-type: none;
	line-height: 24px;
	padding: 0;
}
.table ul li {
	overflow: hidden;
}
.table ul li .single {
	clear: both;
}
.table ul li.single p:first-child {
	width: 25%
}
.table ul li.single p:last-child {
	width: 75%
}
.table ul li p {
	float: left;
	margin: 0;
	width: 25%;
}
.table ul li p strong {
	display: block;
	margin: 0 5px 0 0;
	text-align: right;
}
.table ul li p input, .table ul li p select, .table ul li p textarea {
	text-align: left;
}
.table ul li p textarea {
	width: 96%;
}

.edit-delete{
	text-align: right;
}
.edit-delete img{
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.block{
	display: block;
}

/* Override Class of Jquery UI */
.ui-state-default{
	overflow: hidden
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border: 0;
}
.ui-icon{
	float: left;
}